
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>IP traffic optimization CMNET</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>设备列表</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Device name</th>
            <th>Vendor</th>
            <th>login ip</th>
            <th>Username</th>
            <th>Password</th>
            <th>Loopback ip</th>
            <th>Aciton</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for device in devices %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{device.device_name}}</td>
              <td>{{device.company}}</td>
              <td>{{device.login_ip}}</td>
              <td>{{device.device_user}}</td>
              <td>{{device.password}}</td>
              <td>{{device.loopback_ip}}</td>
              <td>
                <a class="btn btn-primary" href="/pool?device_id={{device.id}}" role="button">随机选取方式</a>
                
              </td>
              <td>
                <a class="btn btn-default" href="/flow?device_id={{device.id}}" role="button">流量分析方式</a>
              </td>
            </tr>
          {% endfor %}      
        </tbody>
      </table>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
