
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>IP traffic optimization CMNET</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>流量分析方式</h1>
      </div>
      <div class="row">
      <div class="col-lg-8">
        <form class="form-inline" action="/flow_optimize" method="post">
          <div class="form-group">
            <label>设备名:{{device.device_name}}</label>
            <input type="hidden" value="{{device.id}}" name="device_id" />|
            <label>调优去向:</label>
            <select class="form-control" name="loopback_ip">
              {% for loopback in loopbacks%}
              <option value ="{{loopback.loopback_ip}}">{{loopback.device_name}}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">确定</button>
          </div>
        </form>
      </div>
      </div>
      <div class="page-header">
        <h4>过滤后Flow列表(TOP 20)</h4>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Source_ip</th>
            <th>Destination_ip</th>
            <th>Next_hop</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          {% for flow in flows %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{flow.source_ip}}</td>
              <td>{{flow.des_ip}}</td>
              <td>{{flow.next_hop}}</td>
              <td>{{flow.speed}}</td>
            </tr>
          {% endfor %}      
        </tbody>
      </table>
    </div>

    <footer class="footer">
      <div class="container">
<!--        <p class="text-muted">Place sticky footer content here.</p>-->
      </div>
    </footer>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
