
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>IP traffic optimization CMNET</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>调优下发</h1>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <form class="form-inline" action="/generate_command" method="post">
            <div class="form-group">
              <span>调优设备:{{device.device_name}}({{device.loopback_ip}})<span></br>
              </span>调优方向:{{loopback.device_name}}({{loopback_ip}})</span>
              <input type="hidden" value="{{device.id}}" name="device_id"/>
              <input type="hidden" value="{{loopback_ip}}" name="loopback_ip"/>
              <input type="hidden" value="{{ips}}" name="ip_list" /></br>
              <button class="btn btn-primary" type="submit">下发</button>
            </div>
          </form>
        </div>
      </div>
      <div class="page-header">
        <h4>生成的命令:</h4>
      </div>
      <div class="page-body">
        <code>
          {% for command in commands %}
              {{command}}</br>
          {% endfor%}
        </code>
      </div>
<!--      <div class="page-header">-->
<!--        <h4>优化源ip列表:</h4>-->
<!--      </div>-->
<!--      <table class="table table-striped">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>ip</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          {% for ip in ip_list%}-->
<!--            <tr>-->
<!--              <td>{{ip}}</td>-->
<!--            </tr>-->
<!--          {% endfor %}-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

    <footer class="footer">
      <div class="container">
<!--        <p class="text-muted">Place sticky footer content here.</p>-->
      </div>
    </footer>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
